html {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.resizable {
    background-image: url(../images/handle.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

#app {
    font-family: "Meiryo", Tahoma;
    font-size: 12px;
    color: rgb(232, 255, 254);
    background-color: rgba(0,0,0,0.3);
}

#source {
    display: none;
}

h3 {
    font-weight: normal;
    padding: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ff-header {
    color: #DED7BE;
    text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}
.ff-text {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}

.combatants {
    padding: 0 6px 6px;
}

.view-color.damage  { --view-color: #2a81d7; }
.view-color.healing { --view-color: #039158; }
.view-color.tanking { --view-color: #ca5e4e; }
.view-color.uptime  { --view-color: #923399; }
.view-color.deaths  { --view-color: #9d807b; }
.view-color.revives { --view-color: #fffdc6; }

.encounter-header {
    display: flex;
    justify-content: space-between;

    border-top: 3px solid var(--view-color);
    padding: 4px 6px 6px 6px;
    font-size: 12px;
}
.encounter-data {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.extra-details {
    padding: 2px 6px 6px 10px;
}
.extra-row {
    margin-top:0.5em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.extra-details .cell {
    margin-right: 4px;
}
.extra-details .label {
    font-weight: 400;
    margin-right: 4px;
}
.extra-details .value {
    font-weight: 200;
    margin-right: 4px;
}

.data-set-view-switcher{
  float:right;
  background:rgba(0,0,0,.35);
}
.data-set-option{
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 8px;
  text-align: center;
  color: #eee;
  font-size: 10px;
  font-weight: normal;
}
.data-set-option.active{
  background-color: #2a81d7;
  box-shadow: inset 0 1px 0 0 #62b1e9;
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  text-shadow: 0 -1px 1px #1d62ab;
}

.target-name {
    cursor: pointer;
    font-weight: 400;
    position: relative;
}
.target-name:hover {
    text-decoration: underline;
}

li {
    position: relative;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    height: 20px;
}
li:last-child {
    margin-bottom: 0;
}

.self {
    background-color: rgba(0, 0, 0, .5);
    font-weight: bold;
}

.text-overlay {
    --text-shadow-opacity: 0.8;
    font-size: 11px;
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 1);
    text-shadow: -1px 0 2px rgba(0, 0, 0, var( --text-shadow-opacity)), 
     0 1px 2px rgba(0, 0, 0, var( --text-shadow-opacity)), 
     1px 0 2px rgba(0, 0, 0, var( --text-shadow-opacity)),
     0 -1px 2px rgba(0, 0, 0, var( --text-shadow-opacity));
    background-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-color: rgb(0 0 0 / 80%);
    -webkit-text-stroke-width: 0.1px;
    left: 0;
    right: 4px;
    bottom: 0;
    z-index: 10;
    line-height: 21px;
    overflow: hidden;
}
.info {
    overflow: hidden;
    white-space: nowrap;
}
.row .stats {
    float: right;
    margin-left: 4px;
    white-space: nowrap;
}
.row .note {
    margin-right: 4px;
}
.row .total {
    margin-right: 4px;
}
.row .ps {
    margin-right: 4px;
}

.pgl, .mnk { --job-color: #D69C00; }
.acn, .smn { --job-color: #2D9B78; }
.lnc, .drg { --job-color: #4164CD; }
.cnj, .whm { --job-color: #E6D8C6; }
.thm, .blm { --job-color: #A579D6; }
.rog, .nin { --job-color: #AF1964; }
.arc, .brd { --job-color: #91BA5E; }
.gla, .pld { --job-color: #A8D2E9; }
.mrd, .war { --job-color: #CF2722; }
.sch { --job-color: #8656FF; }
.drk { --job-color: #BE24BA; }
.ast { --job-color: #FFE64B; }
.mch { --job-color: #6EE1D6; }
.sam { --job-color: #E46D04; }
.rdm { --job-color: #E87B7B; }
.gnb { --job-color: #7A6D2F; }
.dnc { --job-color: #E2B0AF; }
.sge { --job-color: #7390D8; }
.rpr { --job-color: #965A90; }
.blu { --job-color: #2459FF; }
.lb  { --job-color: #2599BE; }
.vpr  { --job-color: #108210; }
.pct  { --job-color: #FC92E1; }

.acn { --actor-index:  0; }
.arc { --actor-index:  1; }
.ast { --actor-index:  2; }
.brd { --actor-index:  3; }
.blm { --actor-index:  4; }
.blu { --actor-index:  5; }
/* SWORD ICONS 6 */
.cnj { --actor-index:  7; }
.dnc { --actor-index:  8; }
.drk { --actor-index:  9; }
.drg { --actor-index: 10; }
.gla { --actor-index: 11; }
.gnb { --actor-index: 12; }
.lnc { --actor-index: 13; }
.lb  { --actor-index: 14; }
.mch { --actor-index: 15; }
.mrd { --actor-index: 16; }
.mnk { --actor-index: 17; }
/* SWORD ICONS 18 */
.nin { --actor-index: 19; }
.pld { --actor-index: 20; }
.pet { --actor-index: 21; }  /* Chocobo */
.pct { --actor-index: 22; }
.pgl { --actor-index: 23; }
.rpr { --actor-index: 24; }
.rdm { --actor-index: 25; }
.rog { --actor-index: 26; }
.sge { --actor-index: 27; }
.sam { --actor-index: 28; }
.sch { --actor-index: 29; }
.smn { --actor-index: 30; }
.thm { --actor-index: 31; }
.vpr { --actor-index: 32; }
.war { --actor-index: 33; }
.whm { --actor-index: 34; }

.bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--job-color, #2a7084);
    transition: width .4s ease-in-out;
}

.icon {
    float: left;
    --box-size: 20px;
    --icon-size: 20px;

    height: var(--icon-size);
    width: var(--icon-size);
    margin: calc((var(--box-size) - var(--icon-size)) / 2);
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1.0));
    background-size: auto var(--icon-size);
}
.job-icon {
    background-image: url(../images/actors.png);
    background-repeat: no-repeat;
    background-position: calc(-1 * var(--icon-size) * var(--actor-index, -1));
    background-clip: padding-box;
}
.lb .job-icon { transform: scale(0.8); }
.sch .job-icon { transform: scale(0.9); }

.character-job {
    margin-left: 4px;
    text-transform: uppercase;
    opacity: 0.6;
}
.character-name {
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow {
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 4px;
}

.arrow:after {
    clear: both;
    display: block;
    position: relative;
    top: 12px;
    left: 7px;
    content: "";
    height: 0;
    width: 0;
    padding: 0;
    margin: -4px;
    border:4px solid transparent;
}
.arrow.down:after {
    border-top-color: #fff;
}
.arrow.up:after {
    top: 8px;
    border-bottom-color: #fff;
}

.dropdown-parent {
    position: relative;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-top: 0.5em;
    padding: 2px 4px;
    z-index: 100;
    min-width: 100%;
}
.dropdown-menu.right {
  right: 0;
}

.dropdown-menu-item {
  padding: 4px 0;
}
.dropdown-menu.right > .dropdown-menu-item {
  text-align: right;
}

.clearfix:before,
.clearfix:after{
  display:table;
  content:'';
}
.clearfix:after{
  clear:both;
}

/* Timers */
.timers .row.active { }
.timers .row.cooldown, .timers .row.ready {
  opacity: 0.5;
}
.timers .bar.fast {
  transition: width .05s linear;
}
.timers .subtext {
  margin-left: 4px;
  opacity: 0.6;
}
.timers .text-overlay {
  right: 0px;
}
.timers .stats {
  display: inline-block;
  float: right;
  margin-left: 4px;
  white-space: nowrap;
}
.timers .row .close {
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 100%;
  background-color: #ca5e4e;
  text-align: center;
  transition: width .1s ease-out;
  width: 0;
}
.timers .row:hover .close {
  width: 2em;
}

/* Countdown */
.countdown .bar.fast {
  transition: width .05s linear;
}
.countdown .row {
  height: 1.7em;
  display: flex;
  align-items: center;
}
.countdown .text-overlay {
  font-size: 0.9em;
  position: initial;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
  line-height: initial;

  flex-grow: 1;
}
